body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.topbar {
  background: #1e1e1e;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  height: calc(100vh - 50px);
}

.menu {
  width: 200px;
  background: #2f2f2f;
  padding: 10px;
}

.menu button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  color: white;
  background: #444;
  border: none;
  cursor: pointer;
}

.menu button:hover {
  background: #666;
}

.conteudo {
  flex: 1;
  padding: 20px;
}
